<h1>Welcome</h1>
<div class="row">
<form action='/info' method="post" class="col s12">
   <div class="row">
    <div class="input-field col s12">
        <select name="source">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Adarsh Nagar</option>
            <option value="2">AIIMS</option>
            <option value="3">Akshardham</option>
            <option value="4">Anand Vihar</option>
            <option value="5">Arjan Garh</option>
            <option value="6">Ashok Park Main</option>
            <option value="7">Azadpur</option>
        </select>
        <label>Source</label>
    </div>
   </div>

    <div class="row">
        <div class="input-field col s12">
            <select name="destination">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Adarsh Nagar</option>
                <option value="2">AIIMS</option>
                <option value="3">Akshardham</option>
                <option value="4">Anand Vihar</option>
                <option value="5">Arjan Garh</option>
                <option value="6">Ashok Park Main</option>
                <option value="7">Azadpur</option>
            </select>
            <label>Destination</label>
        </div>
    </div>

    <button type="submit" class='btn waves-effect waves-light'>Submit</button>
</form>
</div>